extends ../layout

block content
    form(method="post", action="/books")
        label Title:
            input(name="title", required)
        label Author:
            input(name="author", required)
        label Description:
            input(name="description", required)
        label ISBN:
            input(name="isbn")
        input(type="submit", value="Add book")
